* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    display: block;
    background: #237530;
    font-family: "Digital-7 Mono";
    font-size: 22px;
}

h1 {
    display: none;
    text-align: center;
    font-size: 1.8em;
    font-family: monospace;
    padding: 0.7em;
}

#button-container {
    margin: 50px 50px 220px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 5px solid #000000;
    background-color: #ffffff;
    border-radius: 10px;
    /*width: 150px;*/
    text-align: center;

}

.button:hover {
    cursor: pointer;
}

.banner-header {
    width: 100vw;
    margin-top: 50px;
}

.moss {
    margin-top: 10px;
    width: 400px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

footer p{
    position: fixed;
    bottom: 0;
    right: 50px;
    max-width: 230px;
    padding: 10px;
    margin-bottom: 20px;
    border: 5px solid #000000;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    z-index: -1;
}

.keystroke {
    color: red;
}